<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tripsters.sample"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- 趣皮士sample 运行需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TripstersSampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CountryRecommandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuestionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".TGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CityListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileQuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileAnswersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ReceivedAnswerListActivity"
            android:screenOrientation="portrait" />

        <!-- 趣皮士平台上的APP ID -->
        <meta-data
            android:name="tripsters_appid"
            android:value="test" />
    </application>

</manifest>
